@import '../../scssStyles/main';

.leaderboard__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;

    @media screen and (max-width:800px) {
        grid-template-columns:  1fr;
        img{
            width: 80%;
            margin: 0 auto;
        }
        h2,h5{
            padding: 0 2rem;
        }
    }

    h2{
        font-size: 3rem;
        line-height: 2;
    }
    h5{
        font-size: 1rem;
    }
}