.content__container{
    background-color: #2C2C2C;
    // padding-top:20px;

    // border: 1px solid lightgray;
    .header__content{
        padding-left: .7rem;
   h5{
        color: #F8F8F8;
    }
    h1{
        color: #F8F8F8;
    }
    h4{
        color: #F8F8F8;
        font-weight: 400;
    }
    }
    h5{
        color: #F8F8F8;
    }   
    .subjects__container{
        display: flex;
    } 
}
