@import '../../scssStyles/main';

.header__container{
    padding: 5rem 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    background-color: #EEFBF3;

    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
    
    .header__content{
        h4{
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 2;
            color: $primary;        
        }
        h2{
            font-size: 2.5rem;
            font-weight: 500;
            color: #1D2733;
            transition: all ease .3s;

            span{
                color:$primary;
                font-weight: 600;
            }
            @media screen and (max-width: 1050px) {
                font-size: 2rem;
                font-weight: 500;
                
            }
            @media screen and (max-width: 830px) {
                font-size: 1.8rem;
                font-weight: 500;
                
            }
            @media screen and (max-width: 780px) {
                font-size: 1.5rem;
                font-weight: 500;
                
            }
        }
        

        p{
            font-size: 18px;
            padding: 20px 0 60px 0;
        }
        button{
            @include button__style;
        }
    }
    .header__img{
        img{
            width: 100%;
            background-size: cover;
        }
    }
}