.header__container{
    padding: 2rem 3rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
    

    .header__content{
        display: flex;
        justify-content: center;
        background-color: red;

        h2{
            color: #fff;        
        }
    }
    .header__img{
        background-color: green;
        display: flex;
        justify-content: center;

        h2{
            color: #fff;
        }
    }
}