@import '../../scssStyles/main';

.subjects__container{
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 15px;
    background-color: #8c56dd;
    border-radius: .4rem;
    cursor: pointer;

    .subject__img{
        padding: .5rem;
        
        img{
            width: 120px;
            height: 120px;
            border-radius:.5rem;
            background-size: cover;
        }
    }
    .subject__content{
        padding: 1rem;

        h4{
            color: #fff;
            font-weight: 700;
            font-size: 1rem;

        }
        h6{
            font-size: 15px;
            color: #FFFFFF;
            line-height: 2;
        }
        h5{
            font-size: 1.2rem;
            background-color: #fff;
            color: #46178F;
            display: inline-block;
            padding: .1rem .5rem;
            border-radius: .2rem;
        }
        // .btn{
        //     padding-top: 1rem;
        //     margin-top: 1rem;
        //     button{
        //         padding: .4rem ;
        //         margin-right: .3rem;
        //     }
        // }
        
    }
}