.sidebar__container{
    background-color: #2C2C2C;
    border-right: 1px solid gray;

    .brand__container{
        display: flex;
        justify-content: space-around;
        align-items: center;

        img{
            width: 60px;
            height: 60px;
        }
        h2{
            font-size: 27px;
            font-weight: 700;
            color: #F8F8F8;
        }
        h5{
            font-size: 16px;
            font-weight: 400;
            color: #F8F8F8;

        }
    }
}